            #kt_aside_menu {
                height: 650px !important;
                display: fixed;
                width: 265px;
                // background: #2C3F61!important; //box-sizing: border-box
            }
            
            .menu-link:hover {
                background: rgba(0, 0, 0, 0.1) !important;
                color: black !important;
            }
            
            .menu-text:hover {
                // background: rgba(0, 0, 0, 0.1) !important;
                color: black !important;
            }
            
            .brand {
                background: white!important;
                border-color: white !important;
                border: 2px!important;
                //border-style: solid !important;
            }
            
            .aside-menu .menu-nav>.menu-item>.menu-heading .menu-text,
            .aside-menu .menu-nav>.menu-item>.menu-link .menu-text {
                color: #2C3F61;
            }
            
            .menu-nav {
                width: 265px !important;
                background: white!important;
            }
            
            #kt_aside {
                position: fixed;
                background: white !important;
                box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
                ;
            }
            
            #kt_aside_menu .active {
                background: rgba(0, 0, 0, 0.1);
            }
            
            #kt_aside_menu_wrapper {
                background: white !important;
            }
            
            .aside-menu {
                background: white !important;
            }