            #kt_aside_menu {
                height: 650px !important;
                display: fixed;
                width: 265px;
                // background: #2C3F61!important; //box-sizing: border-box
            }
            
            .aside {
                background: #2C3F61!important;
                width: 265px !important;
            }
            
            .brand {
                background: white!important;
                border-color: #2C3F61 !important;
                border: 2px!important;
                border-style: solid !important;
            }
            
            .menu-nav {
                width: 265px !important;
                background: #2C3F61 !important;
            }
            
            #kt_aside {
                position: fixed;
                background: #2C3F61 !important;
            }
            
            #kt_aside_menu_wrapper {
                background: #2C3F61 !important;
            }
            
            .aside-menu {
                background: #2C3F61 !important;
            }